[05:36] *** bisectable6 joined
[08:01] <MasterDuke> any objections to merging ?

[08:22] * sena_kun still awaits the release blocker

[09:35] *** lizmmat_ is now known as lizmat

[11:31] *** lizmat left
